<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input  placeholder="enter username" name="name"><br> <br>
        <textarea name="content" placeholder="Write your post"></textarea> <br> <br>
        <button>Submit post</button>
    </form>
</body>
</html>